version: '3.8'

services:
  db:
    image: postgres:latest
    container_name: master-chef-db
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    networks:
      - app-network

  app:
    build: .
    container_name: master-chef-app
    ports:
      - "8080:8080"
    environment:
      TOKEN: ${TOKEN}
      URL: ${URL}
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/mydb
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: password
    depends_on:
      - db
    networks:
      - app-network

networks:
  app-network: